<a href="https://colab.research.google.com/github/bbbbbin2/2025_BigData/blob/main/%EC%A0%84%EC%B2%98%EB%A6%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import pandas as pd

# 사고 유형별 교통사고
df_type = pd.read_excel("/content/사고유형별_교통사고.xls")

# 위반 유형별 교통사고
df_violation = pd.read_excel("/content/위반유형별_교통사고.xls")

# 연도별 교통사고
df_year = pd.read_excel("/content/교통사고통계(연도별).xlsx")

# 기상 상태별 교통사고
df_weather = pd.read_excel("/content/교통사고통계_(기상상태별).xlsx")

# 연령대별 교통사고
df_age = pd.read_excel("/content/연령대별_교통사고.xls")

# 월별 교통사고
df_month = pd.read_excel("/content/교통사고통계_월별.xlsx")


# 지역별 교통사고
df_region = pd.read_excel("/content/지역별_교통사고.xls")

# 화물차 교통사고 다발지역
df_region_cargo = pd.read_csv("/content/화물차.csv", encoding='cp949')

# 음주운전(지역)
df_alcohol1 = pd.read_excel("/content/음주운전(지역)교통사고통계.xlsx")
df_alcohol2 = pd.read_excel("/content/교통사고통계(음주 3년간).xlsx")
df_alcohol3 = pd.read_excel("/content/교통사고통계_음주운전(연령).xlsx")





df_type.head(), df_violation.head(), df_year.head(), df_age.head(), df_weather.head(), df_month.head(), df_region.head(), df_region_cargo.head(), df_alcohol1.head(), df_alcohol2.head(), df_alcohol3.head()

/usr/local/lib/python3.12/dist-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/usr/local/lib/python3.12/dist-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/usr/local/lib/python3.12/dist-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/usr/local/lib/python3.12/dist-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/usr/local/lib/python3.12/dist-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/usr/local/lib/python3.12/dist-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/usr/local/lib/python3.12/dist-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/usr/local/lib/python3.12/dist-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/usr/local/lib/python3.12/dist-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

(    교통사고지표 현황 Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
 0        사고유형       발생건수       대형사고     중대한 사고        NaN       사망자수
 1         NaN        NaN        NaN      여객(건)      화물(건)        NaN
 2         횡단중      65944          1          2        843       2248
 3       차도통행중      19789          1          0        256        750
 4  길가장자리구역통행중      10211          0          0         89        170

   Unnamed: 6
 0     치사율(%)
 1        NaN
 2       3.41
 3       3.79
 4       1.66  ,
   교통사고지표 현황 Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6
 0      법규위반       발생건수       대형사고     중대한 사고        NaN       사망자수     치사율(%)
 1       NaN        NaN        NaN      여객(건)      화물(건)        NaN        NaN
 2     중앙선침범      39034         13         17        269        899        2.3
 3      신호위반     117785         20         14        960       1152       0.98
 4   안전거리미확보     108772         31          6        857        259       0.24,
    분석지표       연도      2015      2016      2017      2018      2019      2020  \
 0  사고건수       전체  232035.0  220917.0  216335.0  217148.0  229600.0  209654.0
 1  사고건수     1일평균     635.7     603.6     592.7     594.9     629.0     572.8
 2  사고건수  인구10만명당     454.8     431.3     420.5     420.8     444.0     404.9
 3  사망자수       전체    4621.0    4292.0    4185.0    3781.0    3349.0    3081.0
 4  사망자수     1일평균      12.7      11.7      11.5      10.4       9.2       8.4

        2021      2022      2023      2024
 0  203130.0  196836.0  198296.0  196349.0
 1     556.5     539.3     543.3     536.5
 2     392.0     381.3     384.6     379.4
 3    2916.0    2735.0    2551.0    2521.0
 4       8.0       7.5       7.0       6.9  ,
   교통사고지표 현황 Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6
 0      연령대별       발생건수       대형사고     중대한 사고        NaN       사망자수     치사율(%)
 1       NaN        NaN        NaN      여객(건)      화물(건)        NaN        NaN
 2     20세이하      31725          2          5          2        369       1.16
 3    21~30세     133775         29         19        312       1656       1.24
 4    31~40세     144716         20          5        911       1571       1.09,
    기상상태     연도    2024 2024.1 2024.2 2024.3 2024.4 2024.5 2024.6 2024.7  \
 0  기상상태     연도      합계    01월    02월    03월    04월    05월    06월    07월
 1    합계  사고[건]  196349  15129  13836  15738  16300  17605  16690  16252
 2    합계  사망[명]    2521    188    165    172    197    229    217    197
 3    합계  부상[명]  278482  21593  19944  22373  23138  25238  23619  22980
 4    맑음  사고[건]  173094  13101  10818  13951  14572  15871  15308  13237

   2024.8 2024.9 2024.10 2024.11 2024.12
 0    08월    09월     10월     11월     12월
 1  17000  16956   17720   17455   15668
 2    241    254     225     229     207
 3  24501  24049   24983   24414   21650
 4  15841  14938   15427   15417   14613  ,
   (단위 : 건, 명) Unnamed: 1 Unnamed: 2  Unnamed: 3  Unnamed: 4  Unnamed: 5  \
 0           월         연도         합계      2020.0      2021.0      2022.0
 1          합계      사고[건]    1004265    209654.0    203130.0    196836.0
 2          합계      사망[명]      13804      3081.0      2916.0      2735.0
 3          합계      부상[명]    1441886    306194.0    291608.0    281803.0
 4         01월      사고[건]      77380     16968.0     14909.0     15894.0

    Unnamed: 6  Unnamed: 7
 0      2023.0      2024.0
 1    198296.0    196349.0
 2      2551.0      2521.0
 3    283799.0    278482.0
 4     14480.0     15129.0  ,
   지자체 사고지표 현황 Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
 0          시도       발생건수       대형사고     중대한 사고        NaN       사망자수
 1         NaN        NaN        NaN      여객(건)      화물(건)        NaN
 2          서울     170114         21         14       1085       1075
 3          부산      56392          9         11        471        531
 4          대구      57277          6          0        284        439

   Unnamed: 6
 0     치사율(%)
 1        NaN
 2       0.63
 3       0.94
 4       0.77  ,
    사고다발지fid  사고다발지id       법정동코드      지점코드      시도시군구명  \
 0   6787530  2022048  1111017400  11110001  서울특별시 종로구1
 1   6787719  2022048  1114016500  11140001   서울특별시 중구1
 2   6787759  2022048  1114016200  11140002   서울특별시 중구2
 3   6787796  2022048  1114016500  11140003   서울특별시 중구3
 4   6787642  2022048  1114016200  11140004   서울특별시 중구4

                           지점명  사고건수  사상자수  사망자수  중상자수  경상자수  부상신고자수  \
 0  서울특별시 종로구 창신동(역전우동&빽다방 부근)     4     8     0     4     4       0
 1    서울특별시 중구 황학동(성동고교교차로 부근)     4     5     0     4     1       0
 2       서울특별시 중구 신당동(맥스타일 부근)     4     5     0     4     0       1
 3   서울특별시 중구 황학동(동대문중앙교회앞 부근)     4     5     0     4     0       1
 4     서울특별시 중구 신당동(신당역사거리 부근)     4     4     0     4     0       0

            경도         위도                                            다발지역폴리곤
 0  127.011730  37.571842  {"type":"Polygon","coordinates":[[[127.0126280...
 1  127.022869  37.565398  {"type":"Polygon","coordinates":[[[127.0237668...
 2  127.010616  37.568953  {"type":"Polygon","coordinates":[[[127.0115145...
 3  127.020128  37.568992  {"type":"Polygon","coordinates":[[[127.0210262...
 4  127.016981  37.565374  {"type":"Polygon","coordinates":[[[127.0178789...  ,
    시도     연도        합계     2020     2021     2022     2023     2024
 0  합계  사고[건]   71279.0  17247.0  14894.0  15059.0  13042.0  11037.0
 1  합계  사망[명]    1004.0    287.0    206.0    214.0    159.0    138.0
 2  합계  부상[명]  113715.0  28063.0  23653.0  24261.0  20628.0  17110.0
 3  서울  사고[건]   10248.0   2327.0   2059.0   2348.0   1938.0   1576.0
 4  서울  사망[명]      82.0     16.0     23.0     23.0      8.0     12.0,
      월     연도     합계   2022 2022.1 2022.2 2022.3 2022.4  2022.5   2022.6  ...  \
 0    월     연도     합계     합계  0시~2시  2시~4시  4시~6시  6시~8시  8시~10시  10시~12시  ...
 1   합계  사고[건]  39138  15059   2153   1154    801    692     575      396  ...
 2   합계  사망[명]    511    214     30     33     26     11       6        5  ...
 3   합계  부상[명]  61999  24261   3388   1672   1211    965     940      689  ...
 4  01월  사고[건]   3391   1234     97     41     33     34      31       17  ...

   2024.3 2024.4  2024.5   2024.6   2024.7   2024.8   2024.9  2024.10  2024.11  \
 0  4시~6시  6시~8시  8시~10시  10시~12시  12시~14시  14시~16시  16시~18시  18시~20시  20시~22시
 1    734    659     578      353      341      520      697     1007     1571
 2     13      9       6        2        7        3        5        7       19
 3   1052    969     944      569      566      883     1072     1563     2511
 4     60     50      37       23       21       36       56       87      144

    2024.12
 0  22시~24시
 1     2009
 2       26
 3     3157
 4      195

 [5 rows x 42 columns],
    가해운전자(1당) 연령대     연도   2024  2024.1 2024.2    2024.3       2024.4  \
 0  가해운전자(1당) 연령대     연도     합계  중앙선 침범   신호위반  안전거리 미확보  안전운전 의무 불이행
 1             합계  사고[건]  11037     672    689       509         8476
 2             합계  사망[명]    138      17     11         3           82
 3             합계  부상[명]  17110    1169   1144       857        12957
 4         19세 이하  사고[건]    117       3     11         2           91

         2024.5       2024.6 2024.7
 0  교차로 통행방법 위반  보행자 보호의무 위반     기타
 1          134           67    490
 2            1            1     23
 3          192           79    712
 4            1            0      9  )

In [10]:
import pandas as pd

# 1. 엑셀 로드
def load_excel(path, header=0):
    return pd.read_excel(path, header=header)


# 2. 헤더 병합 해제
def clean_two_header(df):
    df = df.copy()
    df.columns = df.iloc[0]
    df = df.iloc[1:].reset_index(drop=True)
    return df


# 3. 완전 비어있는 행/열 제거
def drop_empty(df):
    return df.dropna(how="all").dropna(axis=1, how="all")


# 4. 숫자형 문자열 → int 변환
def to_int(df, cols):
    df = df.copy()
    for c in cols:
        if c in df.columns:
            df[c] = (
                df[c]
                .astype(str)
                .str.replace(",", "")
                .replace("-", 0)
                .astype(int)
            )
    return df


# 5. 특정 값 제거 (합계, 알수없음 등)
def drop_values(df, col, values=("합계", "알수없음")):
    df = df.copy()
    for v in values:
        df = df[df[col] != v]
    return df


# 6. 특정 지표 필터링
def filter_eq(df, col, value):
    return df[df[col] == value].copy()


# 7. 연도 컬럼 자동 탐색
def get_year_cols(df):
    return [c for c in df.columns if str(c).isdigit()]


# 8. wide → long
def melt_table(df, id_cols, value_cols,
               var_name="연도", value_name="값"):
    return df.melt(
        id_vars=id_cols,
        value_vars=value_cols,
        var_name=var_name,
        value_name=value_name
    )


# 9. 지역명 통일
def normalize_region(df, col):
    replace_dict = {
        "전라남도": "전남", "전라북도": "전북",
        "경상남도": "경남", "경상북도": "경북",
        "충청남도": "충남", "충청북도": "충북",
        "강원도": "강원",
        "부산광역시": "부산", "대구광역시": "대구",
        "광주광역시": "광주", "인천광역시": "인천",
        "대전광역시": "대전", "울산광역시": "울산",
        "제주특별자치도": "제주",
        "세종특별자치시": "세종",
        "서울특별시": "서울"
    }
    df = df.copy()
    df[col] = df[col].replace(replace_dict, regex=True)
    return df

def find_main_col(df, candidates):
    """
    후보 컬럼명 중 실제 df에 존재하는 첫 번째 컬럼 반환
    """
    for c in candidates:
        if c in df.columns:
            return c
    raise KeyError(f"대표 컬럼을 찾을 수 없습니다: {candidates}")

In [15]:
df_violation = (
    load_excel("/content/위반유형별_교통사고.xls", header=1)
    .iloc[1:]
    .reset_index(drop=True)
)

violation_col = find_main_col(
    df_violation,
    ["위반유형", "위반유형별", "구분", "법규위반"]
)

df_violation = drop_values(df_violation, violation_col)
df_violation = df_violation.drop(columns=['Unnamed: 4'])

df_violation.head()

/usr/local/lib/python3.12/dist-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

      법규위반      발생건수  대형사고 중대한 사고    사망자수  치사율(%)
0    중앙선침범   39034.0  13.0     17   899.0    2.30
1     신호위반  117785.0  20.0     14  1152.0    0.98
2  안전거리미확보  108772.0  31.0      6   259.0    0.24
3     불법유턴    7292.0   0.0      0    62.0    0.85
4       과속    4744.0  15.0     13   901.0   18.99

In [4]:
df_year_raw = load_excel("/content/교통사고통계(연도별).xlsx")

year_cols = get_year_cols(df_year_raw)

df_year_long = (
    df_year_raw
    .pipe(lambda x: x[
        (x["분석지표"].isin(["사고건수", "부상자수", "사망자수"])) &
        (x["연도"].isin(["전체", "1일평균"]))
    ])
    .pipe(melt_table,
          id_cols=["분석지표", "연도"],
          value_cols=year_cols,
          var_name="년도",
          value_name="값")
)

df_year_long["년도"] = df_year_long["년도"].astype(int)
df_year_long["지표"] = df_year_long["분석지표"] + "_" + df_year_long["연도"]

df_year = (
    df_year_long
    .pivot(index="년도", columns="지표", values="값")
    .reset_index()
)

df_year_raw.head()

,분석지표,연도,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,사고건수,전체,232035.0,220917.0,216335.0,217148.0,229600.0,209654.0,203130.0,196836.0,198296.0,196349.0
1,사고건수,1일평균,635.7,603.6,592.7,594.9,629.0,572.8,556.5,539.3,543.3,536.5
2,사고건수,인구10만명당,454.8,431.3,420.5,420.8,444.0,404.9,392.0,381.3,384.6,379.4
3,사망자수,전체,4621.0,4292.0,4185.0,3781.0,3349.0,3081.0,2916.0,2735.0,2551.0,2521.0
4,사망자수,1일평균,12.7,11.7,11.5,10.4,9.2,8.4,8.0,7.5,7.0,6.9

In [5]:
# 최근 3년 음주운전 시간대별 사망자
df_raw = load_excel("/content/교통사고통계(음주 3년간).xlsx", header=None)

year_row = df_raw.iloc[0]
time_row = df_raw.iloc[1]
df = df_raw.iloc[2:].reset_index(drop=True)

df.columns = [
    y if y in ["월", "연도"] else f"{y}_{t}"
    for y, t in zip(year_row, time_row)
]

df_death_long = (
    df.pipe(filter_eq, "월", "합계")
      .pipe(filter_eq, "연도", "사망[명]")
)

time_cols = [c for c in df_death_long.columns if "202" in c]

df_death_long = df_death_long[time_cols].T.reset_index()
df_death_long.columns = ["연도_시간대", "사망자수"]
df_death_long["시간대"] = df_death_long["연도_시간대"].str.split("_").str[1]

df_death_long = to_int(df_death_long, ["사망자수"])

df_death = (
    df_death_long
    .groupby("시간대", as_index=False)["사망자수"]
    .sum()
)

df_death["비율"] = df_death["사망자수"] / df_death["사망자수"].sum() * 100

/usr/local/lib/python3.12/dist-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [6]:
# 2024년 음주운전 사망사고 연령대
df = clean_two_header(df_alcohol3)

df_death_age = (
    df.pipe(filter_eq, "연도", "사망[명]")
      .pipe(drop_values, "가해운전자(1당) 연령대")
      [["가해운전자(1당) 연령대", "합계"]]
)

df_death_age = to_int(df_death_age, ["합계"])
df_death_age = df_death_age.sort_values("합계", ascending=False)

In [7]:
# 지역 / 경력 / 연령 데이터에서 “알수없음” 제거
for col in ["연령대별", "운전경력", "시도"]:
    if col in df_age.columns:
        df_age = drop_values(df_age, col)
    if col in df_region.columns:
        df_region = drop_values(df_region, col)

In [16]:
# 화물차 사고 지역 통합 + TOP10
df_region_cargo = normalize_region(df_region_cargo, "지점명")

df_cargo_grouped = (
    df_region_cargo
    .groupby("지점명", as_index=False)
    .agg({
        "사고건수": "sum",
        "사상자수": "sum",
        "사망자수": "sum",
        "중상자수": "sum",
        "경상자수": "sum",
        "부상신고자수": "sum",
        "경도": "mean",
        "위도": "mean"
    })
)

df_cargo_top10 = df_cargo_grouped.sort_values("사고건수", ascending=False).head(10)
df_cargo_dead_top = df_cargo_grouped.sort_values("사망자수", ascending=False).head(10)

In [17]:
# 연령대 × 사고원인 히트맵 데이터
df = clean_two_header(df_alcohol3)

df_accident = (
    df.pipe(filter_eq, "연도", "사고[건]")
      .pipe(drop_values, "가해운전자(1당) 연령대")
)

cause_cols = [
    "중앙선 침범", "신호위반", "안전거리 미확보",
    "안전운전 의무 불이행", "교차로 통행방법 위반",
    "보행자 보호의무 위반", "기타"
]

df_heat = df_accident[["가해운전자(1당) 연령대"] + cause_cols]
df_heat = to_int(df_heat, cause_cols)
df_heat = df_heat.set_index("가해운전자(1당) 연령대")